*{
	margin: 0;
	padding: 0;
}

#contenedor{
	margin: 10px auto;
	margin-bottom:10px;
	width: 260px;
	height: 115px;
	z-index: 1000;
}
.reloj{
	float: left;
	font-size: 37px;
	font-family: Courier,sans-serif;
	color: #363431;
}